@import '../../scss/custom-properties';

.sg__nav {
    margin-top: 160px;
    margin-bottom: 50px;
}

.sg__nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 50px;
    padding: 0;
}

.sg__nav__link {
    color: $color-3;
}

.sg__nav__link:hover {
    color: lightblue;
}