@import '../scss/variables';

// paleta de colores

.sg {
    &__color-palette {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 100px;
    }

    &__box-1, 
    &__box-2 {
    display: flex;
    gap: 10px;
    }

    &__color-box {
    width: 100px;
    height: 100px;
    }
}

.color {

    &-fucsia-darken-1 {
        background-color: $color-fucsia-darken-1;
        border: 1px $color-black solid;
    }

    &-fucsia-darken-2 {
        background-color: $color-fucsia-darken-2;
        border: 1px $color-black solid;
    }

    &-fucsia {
        background-color: $color-fucsia;
        border: 1px $color-black solid;
    }

    &-fucsia-light-1 {
        background-color: $color-fucsia-light-1;
        border: 1px $color-black solid;
    }

    &-fucsia-light-2 {
        background-color: $color-fucsia-light-2;
        border: 1px $color-black solid;
    }

    &-black {
        background-color: $color-black;
        border: 1px $color-black solid;
    }

    &-grey-1 {
        background-color: $color-grey-1;
        border: 1px $color-black solid;
    }

    &-grey-2 {
        background-color: $color-grey-2;
        border: 1px $color-black solid;
    }

    &-grey-3 {
        background-color: $color-grey-3;
        border: 1px $color-black solid;
    }

    &-white {
        background-color: $color-white;
        border: 1px $color-black solid;
    }
    
}



// tipografía

.sg__typo {

    &--headers {
        text-align: left;
        color: $color-grey-1
    }
}