@import '../../scss/typography';
@import '../../scss/variables';
@import '../../scss/mixins';

// linea horizontal
//  border: 2.3px solid $color-fucsia; 

footer {
    background-color: $color-black;

    display: flex;
    flex-direction: column;
    gap: sp(xxl);

    padding: sp(xs);

    @include mq ($bp-small-tablet) { //576px
        padding: sp(s);
    }

    @include mq ($bp-tablet) { //768px
        padding: sp(m);
    }

    @include mq ($bp-small-desktop) { //1024px
        padding: sp(l);
    }

    @include mq ($bp-desktop) { //1440px
        padding: sp(l);
    }
}

.contact {

    @include mq ($bp-small-tablet) { //576px
        padding-right: 0;
    }

    &__text {
        padding-bottom: sp(xxs);

        @include mq ($bp-tablet) { //768px
            padding-bottom: sp(xs);
        }
    }

    &__mail {
        padding-top: sp(xxs);

        @include mq ($bp-tablet) { //768px
            padding-top: sp(xs);
        }
    }

    &__icons {
        display: flex;
        gap: sp(xxs);

        padding-top: sp(xxs);

        @include mq ($bp-tablet) { //768px
            padding-top: sp(xs);
        }
    }
}

.thanks {
    text-align: right;
}