@import './scss/typography.scss';


.header {
    position: relative;

    &-gradient {
        display: flex;
        justify-content: center;
        align-items: end;
        text-align: center;

        height: 100vh;
        background-color: $color-black;
        background-image: linear-gradient(30deg, $color-black 21%, $color-fucsia-darken 75%, $color-fucsia 95%);
        

        @include mq ($bp-small-tablet) {
            justify-content: flex-end;
            align-items: flex-end;
            text-align: end;
        }
    }

    &__container {
        color: $color-white;
        margin-bottom: sp(s);

        @include mq ($bp-small-tablet) { //576px
            margin-right: sp(s);
            margin-bottom: sp(s);
        }
    
        @include mq ($bp-tablet) { //768px
            margin-right: sp(m);
            margin-bottom: sp(m);
        }
    
        @include mq ($bp-small-desktop) { //1024px
            margin-right: sp(l);
            margin-bottom: sp(l);
        }
    
        @include mq ($bp-desktop) { //1440px
            margin-right: sp(xl);
            margin-bottom: sp(l);
        }
    }

    &__button {
        display: flex;
        justify-content: end;
        gap: 1.2rem;
    }
}


