@import '../scss/typography';
@import '../scss/_variables.scss';
@import '../scss/mixins';

.main {
    padding-left: sp(xs);
    padding-right: sp(xs);
    padding-top: sp(l);
    padding-bottom: sp(l);

    display: flex;
    flex-direction: column;
    text-align: center;

    @include mq ($bp-small-desktop) { //1024px
        padding-left: sp(l);
        padding-right: sp(l);
        padding-top: sp(xl);
        padding-bottom: sp(xl);
    }

    @include mq ($bp-desktop) { //1440px
        padding-top: sp(xxl);
        padding-bottom: sp(xxl);
    }

    &__horizontal-line {
        border: 2.3px solid $color-fucsia; 
        margin: 3em 30%; 
    
        @include mq ($bp-small-tablet) { //576px
            margin: 3em 35%; 
        }
    
        @include mq ($bp-tablet) { //768px
            margin: 3em 40%; 
        }

        @include mq ($bp-small-desktop) { //1024px
            margin: 4em 40%; 
        }
      }

    &__text {
        display:grid;
        grid-template-rows: 1fr;
        gap: sp(s);

        @include mq ($bp-tablet) { //576px
            grid-template-columns: 1fr 1fr;
        }
    }
}

.contain-photo-bg {
    background-image: url('../assets/img-about-desktop.jpg');
    background-size: cover;
}

.text-about {
    padding: sp(xxs);

    text-align: left;
    line-height: 2;

    @include mq ($bp-small-tablet) { //576px uno de los dos sobre
        padding: sp(xs); 
    }
}