
/*---variables de color---*/

$color-1: #FA4C4E;
$color-2: #F2AFD2;
$color-3: #0A89FF;
$color-4: #222222;
$color-5: #F6F6F6;

$color-1-light: lighten($color-1, 10%);
$color-2-light: lighten($color-2, 10%);
$color-3-light: lighten($color-3, 10%);