
/*-----MEDIA QUERIES-----*/

$bp-desktop:            90rem; //1440px
$bp-small-desktop:      64rem; //1024px
$bp-tablet:             48rem; //768px
$bp-small-tablet:       36rem; //576px

@mixin mq ($bp) {
        @media only screen and (min-width: $bp) {
            @content; 
        }
}

/*-----TAMAÑOS ICONOS----*/

$w-mini:   2rem;
$w-small:   3rem;
$w-medium:  3.5rem;
$w-large:   4rem;

$h-mini:   2rem;
$h-small:   3rem;
$h-medium:  3.5rem;
$h-large:   4rem;

@mixin icon($width, $height) {
  width: $width;
  height: $height;
}


