@import '../scss/variables';



h1, 
.h1 {
    font-size: $font-size-xxl;
}

h2, 
.h2 {
    font-size: $font-size-xl;
}

h3, 
.h3 {
    font-size: $font-size-l;
}

h4, 
.h4 {
    font-size: $font-size-m;
}

h5, 
.h5 {
    font-size: $font-size-sm;
}

h6, 
.h6 {
    font-size: $font-size-xs;
}


p {
    font-size: $font-size-sm;
    font-weight: $font-medium;
}


//hr para las líneas
// falta definir tamaños para los parrafos según lo qu etengo en el figma