//Clases de COLOR ESCALA DE FUCSIAS (color y bg-color)

    .color-fucsia {
        color: $color-fucsia;
    }
    .color-bg-fucsia {
        background-color: $background-color-color-fucsia;
    }

    .color-fucsia-darken {
        color: $color-fucsia-darken;
    }
    .color-bg-fucsia-darken {
        background-color: $background-color-color-fucsia-darken;
    }

    .color-fucsia-lighten {
        color: $color-fucsia-lighten;
    }
    .color-bg-fucsia-lighten {
        background-color: $background-color-color-fucsia-lighten;
    }

//Clases de COLOR ESCALA DE GRISES (color y bg-color)

    .color-black {
        color: $color-black;
    }
    .color-bg-black {
        background-color: $background-color-color-black;
    }

    .color-black-lighten {
        color: $color-black-lighten;
    }
    .color-bg-black-lighten {
        background-color: $background-color-color-black-lighten;
    }

    .color-grey {
        color: $color-grey;
    }
    .color-bg-grey {
        background-color: $background-color-color-grey;
    }

    .color-grey-lighten {
        color: $color-grey-lighten;
    }
    .color-bg-grey-lighten {
        background-color: $background-color-color-grey-lighten;
    }

    .color-white-darken {
        color: $color-white-darken;
    }
    .color-bg-white-darken {
        background-color: $background-color-color-white-darken;
    }

    .color-white {
        color: $color-white;
    }
    .color-bg-white {
        background-color: $background-color-color-white;
    }

//---Clases para PARRAFOS

.text-small {
    font-size: $font-size-xs;
}

.text-normal {
    font-size: $font-size-sm;
}

.text-large {
    font-size: $font-size-m;
}