/*----Líneas encabezado----*/

    .header::before,
    .header::after {
        content: "";
        position: absolute;
        left: 3.6rem;
        height: .1rem;
        background-color: $color-white-darken;

            @include mq ($bp-small-tablet) { //576px
                left: 4rem;
                height: .11rem;
            }

            @include mq ($bp-tablet) { //768px
                height: .13rem;
                left: 4.5rem;
            }

            @include mq ($bp-small-desktop) { //1024px
                height: .15rem;
                left: 5rem;
            }

            @include mq ($bp-desktop) { //1440px
                height: .18rem;
                left: 6rem;
            }
        }

    .header::before {
        top: 3rem;
        width: 70%;

        @include mq ($bp-small-tablet) { //576px
            height: .11rem;
            top: 4rem;
        }

        @include mq ($bp-tablet) { //768px
            height: .13rem;
            top: 5rem;
        }

        @include mq ($bp-small-desktop) { //1024px
            height: .15rem;
            top: 5rem;
        }

        @include mq ($bp-desktop) { //1440px
            height: .18rem;
            top: 6rem;
        }
    }

    .header::after {
        top: 5.5rem;
        width: 50%; 

        @include mq ($bp-small-tablet) { //576px
            top: 7rem;
        }

        @include mq ($bp-tablet) { //768px
            top: 8rem;
        }

        @include mq ($bp-small-desktop) { //1024px
            top: 9rem;
        }

        @include mq ($bp-desktop) { //1440px
            top: 10rem;
        }
    }



// //Clases de COLOR ESCALA DE FUCSIAS (color y bg-color)

//     .color-fucsia {
//         color: $color-fucsia;
//     }
//     .color-bg-fucsia {
//         background-color: $background-color-color-fucsia;
//     }

//     .color-fucsia-darken {
//         color: $color-fucsia-darken;
//     }
//     .color-bg-fucsia-darken {
//         background-color: $background-color-color-fucsia-darken;
//     }

//     .color-fucsia-lighten {
//         color: $color-fucsia-lighten;
//     }
//     .color-bg-fucsia-lighten {
//         background-color: $background-color-color-fucsia-lighten;
//     }

// //Clases de COLOR ESCALA DE GRISES (color y bg-color)

//     .color-black {
//         color: $color-black;
//     }
//     .color-bg-black {
//         background-color: $background-color-color-black;
//     }

//     .color-black-lighten {
//         color: $color-black-lighten;
//     }
//     .color-bg-black-lighten {
//         background-color: $background-color-color-black-lighten;
//     }

//     .color-grey {
//         color: $color-grey;
//     }
//     .color-bg-grey {
//         background-color: $background-color-color-grey;
//     }

//     .color-grey-lighten {
//         color: $color-grey-lighten;
//     }
//     .color-bg-grey-lighten {
//         background-color: $background-color-color-grey-lighten;
//     }

//     .color-white-darken {
//         color: $color-white-darken;
//     }
//     .color-bg-white-darken {
//         background-color: $background-color-color-white-darken;
//     }

//     .color-white {
//         color: $color-white;
//     }
//     .color-bg-white {
//         background-color: $background-color-color-white;
//     }

//---Clases para PARRAFOS ¿?¿?¿?¿?¿?

// .text-small {
//     font-size: $p-small;
// }

// .text-normal {
//     font-size: $p-normal;
// }

// .text-large {
//     font-size: $p-large;
// }


