
/*---VARIABLES DE COLOR---*/

$color-fucsia:             #F300B4;
$color-fucsia-darken-1:    darken($color-fucsia, 30%);
$color-fucsia-darken-2:    darken($color-fucsia, 20%);
$color-fucsia-light-1:     lighten($color-fucsia, 30%);
$color-fucsia-light-2:     lighten($color-fucsia, 40%);

$color-black:              #1B171C;
$color-grey-1:             lighten($color-black, 20%);
$color-grey-2:             lighten($color-black, 70%);
$color-grey-3:             lighten($color-black, 85%);
$color-white:              #FFFFFF;



/*---VARIABLES DE TIPOGRAFÍA---*/

$font-primary: 'Raleway', sans-serif;

        /*----tamaños de fuente----*/

        $font-size-xxs: 1.4rem; // 14px
        $font-size-xs:  1.6rem; //16px
        $font-size-s:   1.8rem; // 18px
        $font-size-sm:  2rem; // 20px
        $font-size-m:   2.4rem; // 24px
        $font-size-lm:  3.2rem; // 32px
        $font-size-l:   3.6rem; // 36px
        $font-size-xl:  6.4rem; // 64px
        $font-size-xxl: 9.6rem; // 96px

        /*----pesos de fuente----*/

        $font-bold:     700;
        $font-semibold: 600;
        $font-medium:   500;
        $font-light:    300;

