
/*---variables de color---*/

$color-fucsia: #F300B4;
$color-fucsia-darken-1: darken($color-fucsia, 40%);
$color-fucsia-darken-2: darken($color-fucsia, 20%);
$color-fucsia-light-1: lighten($color-fucsia, 30%);
$color-fucsia-light-2: lighten($color-fucsia, 40%);

$color-black: #000000;
$color-grey-1: lighten($color-black, 20%);
$color-grey-2: lighten($color-black, 70%);
$color-grey-3: lighten($color-black, 90%);
$color-white: #FFFFFF;



/*---variables de tipografía---*/

$font-primary: 'Raleway', sans-serif;



// $font-medium: 1rem;