
/*---VARIABLES DE COLOR---*/

        /*----colores---*/

        $color-fucsia:          #F300B4;
        $color-fucsia-darken:   darken($color-fucsia, 30%);
        $color-fucsia-lighten:  lighten($color-fucsia, 40%);

        $color-black:           #1B171C;
        $color-black-lighten:   lighten($color-black, 30%);
        $color-grey:            lighten($color-black, 60%);
        $color-grey-lighten:    lighten($color-black, 80%);
        $color-white-darken:    lighten($color-black, 87%);
        $color-white:           #ffffff;

        /*----Variables de color para BG----*/

        $background-color-color-fucsia:          #F300B4;
        $background-color-color-fucsia-darken:   darken($background-color-color-fucsia, 30%);
        $background-color-color-fucsia-lighten:  lighten($background-color-color-fucsia, 40%);

        $background-color-color-black:           #1B171C;
        $background-color-color-black-lighten:   lighten($background-color-color-black, 30%);
        $background-color-color-grey:            lighten($background-color-color-black, 60%);
        $background-color-color-grey-lighten:    lighten($background-color-color-black, 80%);
        $background-color-color-white-darken:    lighten($background-color-color-black, 87%);
        $background-color-color-white:           #ffffff;

        /*-----mapa de colores para colors y bg-colors---*/

        $colors: (
                "fucsia": $color-fucsia,
                "fucsia-darken": $color-fucsia-darken,
                "fucsia-lighten": $color-fucsia-lighten,
                "black": $color-black,
                "black-lighten": $color-black-lighten,
                "rey": $color-grey,
                "grey-lighten": $color-grey-lighten,
                "white-darken": $color-white-darken,
                "white": $color-white
        );

        @each $color, $i in $colors {
                .color-#{$color} {
                        color: $i;
                }
                
                .color-bg-#{$color} {
                    background-color: $i;
                }
        }

        //HACER LO MISMO CON LA TIPOS!!!!!


/*---VARIABLES DE TIPOGRAFÍA---*/

        /*----familia de fuente----*/

        $font-primary: 'Raleway', sans-serif;

        /*----tamaños de fuente----*/

        $font-size-xxs: 1.4rem; // 14px
        $font-size-xs:  1.6rem; // 16px
        $font-size-s:   1.8rem; // 18px
        $font-size-sm:  2.0rem; // 20px
        $font-size-m:   2.4rem; // 24px
        $font-size-lm:  3.2rem; // 32px
        $font-size-l:   3.6rem; // 36px
        $font-size-xl:  6.4rem; // 64px
        $font-size-xxl: 9.6rem; // 96px

        /*----pesos de fuente----*/

        $font-bold:     700;
        $font-semibold: 600;
        $font-medium:   500;
        $font-light:    300;


